<div class="row">
    <div class="large-12 columns">

        <div class="panel">
            <h4>Give us an order!</h4>

            <div class="row">
                <div class="large-12 columns">
                    <p>Give us an API endpoint that responds to a GET request with a valid pizza JSON object, and we'll give you what you want!</p>
                </div>
            </div>

            <form>
                <div class="row">
                    <div class="small-9 columns">
                        <label>API URL
                            <input name="endpoint" type='text' />
                        </label>
                    </div>
                    <div class="large-3 columns">
                        <button>Pizza!</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
